{{define "page"}}
{{ template "header" . }}
<main class="container">
    <section>
        <h1>
            {{.Headline}}
        </h1>
        <p>
            {{.Body}}
        </p>

        <div style="display: flex; gap: 16px; align-items: center;">
            <a href="{{.CancelURL}}" role="button" class="secondary">{{.CancelText}}</a>
            <form action="{{.ConfirmURL}}" method="POST">
                <button type="submit" role="button" style="margin: 0;">{{.ConfirmText}}</button>
            </form>
        </div>
    </section>
</main>
{{end}}