{{define "page"}}
{{ template "header" . }}
<main>
    <nav aria-label="breadcrumb">
        <ul>
            <li><a href="{{.HomeURL}}">Home</a></li>
            <li><a href="{{.ProjectsURL}}">Projects</a></li>
            <li>{{.Project.Name}}</li>
        </ul>
    </nav>

    <nav>
        <ul>
            <li>
                <h1 style="margin: 0;">{{.Project.Name}}</h1>
            </li>
        </ul>
        <ul>
            <li>
                <a role="button" href="{{.Project.EditURL}}">Edit</a>
            </li>
            <li>
                <a role="button" href="{{.Project.DeleteURL}}">Delete</a>
            </li>
        </ul>
    </nav>

    <section>
        <p>
            <strong>Project ID:</strong> {{.Project.ID}}
        </p>
        <p>
            <strong>Name:</strong> {{.Project.Name}}
        </p>
        <p>
            <strong>Created By:</strong> {{.Project.CreatedByUserID}}
        </p>
        <p>
            <strong>Created At:</strong> {{.Project.CreatedAt}}
        </p>
        <p>
            <strong>Last Updated:</strong> {{.Project.UpdatedAt}}
        </p>
    </section>
    <section>
        <h3>Allowed Domains:</h3>
        {{if .Project.AllowedDomains}}
        <ul>
            {{range .Project.AllowedDomains}}
            <li>{{.String}}</li>
            {{end}}
        </ul>
        {{else}}
        <p>No domains configured</p>
        {{end}}
    </section>
</main>

{{end}}