{{define "page"}}
{{ template "header" . }}
<main style="display: flex; flex-direction: column; gap: 64px;">
    <section>
        <a href="{{.DashboardPage}}">Back</a>
        <h1>
            {{.Project.Name}}
        </h1>
    </section>

    <section>
        <h2>Project Information</h2>
        <div style="display: flex; flex-direction: column; gap: 16px;">
            <p>
                <strong>Project ID:</strong> {{.Project.ID}}
            </p>
            <p>
                <strong>Name:</strong> {{.Project.Name}}
            </p>
            <p>
                <strong>Created By:</strong> {{.Project.CreatedByUserID}}
            </p>
            <p>
                <strong>Created At:</strong> {{.Project.CreatedAt}}
            </p>
            <p>
                <strong>Last Updated:</strong> {{.Project.UpdatedAt}}
            </p>
        </div>
    </section>

    <section>
        <h2>Allowed Domains</h2>
        <div>
            {{if .Project.AllowedDomains}}
            <ul>
                {{range .Project.AllowedDomains}}
                <li>{{.String}}</li>
                {{end}}
            </ul>
            {{else}}
            <p>No domains configured</p>
            {{end}}
        </div>
    </section>


    <section>
        <h2>Edit Project</h2>
        <a role="button" href="{{.EditProjectPage}}">Edit</a>
    </section>

    <section>
        <h2>Delete Project</h2>
        <a role="button" href="{{.DeleteProjectPage}}">Delete</a>
    </section>

    <div style="width: 100%; height: 64px"></div>
</main>

{{end}}