{{define "page"}}
{{ template "header" . }}
<main>
    <nav aria-label="breadcrumb">
        <ul>
            <li><a href="{{.HomeURL}}">Home</a></li>
            <li>Claim Admin</li>
        </ul>
    </nav>
    <section>
        <h1>Claim Admin</h1>
        <div class="card">
            <p>Your system currently has no admin accounts configured. You can claim the admin role by clicking the
                button below.</p>

            <form action="" method="post">
                <div class="form-actions">
                    <button type="submit" class="primary">Claim Admin</button>
                </div>
            </form>
        </div>
    </section>
</main>
{{end}}