{{define "page"}}
{{ template "header" . }}
<main>
    <section>
        <a href={{.BackURL}}>
            Back
        </a>
        <h1>
            Image Playground
        </h1>
    </section>

    <section>
        <h2>
            Resize
        </h2>
        <div>
            <div>
                <label for="project-select">Project:</label>
                <select id="project-select">
                    {{range .Projects}}
                    <option value="{{.ID}}">
                        {{.Name}}
                    </option>
                    {{end}}
                </select>
            </div>
            <div>
                <label for="image-src">Image URL:</label>
                <input type="text" id="image-src" placeholder="Enter image URL" />
            </div>
            <div>
                <label for="image-width">Width:</label>
                <input type="number" id="image-width" placeholder="Width in pixels" min="1" max="1000" value="600" />
            </div>
            <div>
                <label for="image-height">Height:</label>
                <input type="number" id="image-height" placeholder="Height in pixels" min="1" max="1000" value="400" />
            </div>
            <div>
                <button id="resize-button">Resize</button>
            </div>
        </div>
        <div style="padding-top: 32px;">
            <article style="width: fit-content; height: fit-content;">
                <img id="output" style="border: none; outline: none;" />
            </article>
        </div>
        <script>
            const resizeButton = document.getElementById('resize-button');
            const imageSrcInput = document.getElementById('image-src');
            const imageWidthInput = document.getElementById('image-width');
            const imageHeightInput = document.getElementById('image-height');
            const projectSelect = document.getElementById('project-select');
            const outputImage = document.getElementById('output');

            const getMinWidth = () => parseInt(imageWidthInput.getAttribute('min'));
            const getMaxWidth = () => parseInt(imageWidthInput.getAttribute('max'));
            const getMinHeight = () => parseInt(imageHeightInput.getAttribute('min'));
            const getMaxHeight = () => parseInt(imageHeightInput.getAttribute('max'));
            const getWidth = () => parseInt(imageWidthInput.value);
            const getHeight = () => parseInt(imageHeightInput.value);

            outputImage.width = getWidth();
            outputImage.height = getHeight();
            imageWidthInput.addEventListener('input', () => {
                outputImage.width = getWidth();
            });
            imageHeightInput.addEventListener('input', () => {
                outputImage.height = getHeight();
            });

            resizeButton.addEventListener('click', () => {
                const projectID = projectSelect.value;
                const imageURL = imageSrcInput.value;
                const width = getWidth();
                const height = getHeight();
                const params = new URLSearchParams();
                params.set('url', imageURL);
                params.set('width', width.toString());
                params.set('height', height.toString());
                params.set('projectID', projectID);
                const url = '/api/image/resize?' + params.toString();
                console.log(url);
                fetch(url)
                    .then(response => response.blob())
                    .then(blob => {
                        const image = new Image();
                        image.src = URL.createObjectURL(blob);
                        outputImage.src = image.src;
                    });
            });
        </script>
    </section>
</main>

{{end}}