{{define "page"}}
{{ template "header" . }}
<main>
  <section aria-labelledby="email-notification">
    {{template "icon-circle-check" . }}
    <style>
      .icon-circle-check {
        width: 64px;
        height: 64px;
        margin-bottom: 12px;
      }
    </style>
    <h1 id="email-notification">
      Login Link Sent
    </h1>
    <p>
      We have sent a login link to <strong>{{.Email}}</strong>. Please check your email to log in.
    </p>
    <a href="{{.SendAnotherLink}}" aria-label="Send another login link">
      {{template "icon-arrow-left" . }}
      <style>
        .icon-arrow-left {
          width: 16px;
          height: 16px;
          margin-right: 4px;
        }
      </style>
      Send another link
    </a>
  </section>

  {{if eq .IsSendEmailConfigured "false"}}
  <article style="margin-top:360px;">
    <p>
      Authentication is disabled. Nobody has configured email provider we can use to authenticate users.
    </p>
    <p>
      <a href="{{.LoginLink}}" aria-label="Login link">Use login link</a>
    </p>
  </article>
  {{end}}

</main>
{{end}}