{{define "page"}}
{{ template "header" . }}
<main>
    <section>
        <h1>Home</h1>
        <ul>
            <li>
                <a href={{.AccountURL}} class="card">
                    <strong>Account</strong>
                </a>
                <p>Manage your account</p>
            </li>
            <li>
                <a href={{.ProjectsURL}} class="card">
                    <strong>Projects</strong>
                </a>
                <p>Manage your projects</p>
            </li>
            <li>
                <a href={{.ApiDocsURL}} class="card">
                    <strong>API Docs</strong>
                </a>
                <p>View the API docs</p>
            </li>
        </ul>
    </section>
    {{if .NoAdmins}}
    <section>
        <article>
            <h2>No Admin Configured</h2>
            <p>Your system currently has no admin accounts configured</p>
            <a href="{{.ClaimAdminURL}}" role="button">Claim Admin</a>
        </article>
    </section>
    {{end}}
</main>

{{end}}