{{define "page"}}
{{ template "header" . }}
<main>
    <nav aria-label="breadcrumb">
        <ul>
            <li><a href="{{.HomeURL}}">Home</a></li>
            <li><a href="{{.ProjectsURL}}">Projects</a></li>
            <li>Not Found</li>
        </ul>
    </nav>

    <section>
        <h1>
            Project Not Found
        </h1>

        <p>
            Sorry, the project you are looking for could not be found.
        </p>
        <p>
            The project may have been deleted or you might not have permission to access it.
        </p>
    </section>

</main>

{{end}}