{{define "page"}}
{{ template "header" . }}
<script src="../../login/login_page/login_page_vanilla.js" type="module"></script>
<main>
  <section>
    <h1>Login with your email</h1>
    <div id="isSubmitting"></div>
    <div id="emailHelperText"></div>
    <form method="POST" action="{{.Action}}">
      <fieldset>
        <label>
          Email
          <input name="email" placeholder="Email" autocomplete="email" value="{{.Email}}" />
          <small role="alert">{{.EmailError}}</small>
        </label>
      </fieldset>

      <button type="submit">
        Send link
      </button>
    </form>
  </section>
</main>
{{end}}