{{define "page"}}
{{ template "header" . }}
<main>
  <section aria-labelledby="email-notification">
    {{template "icon-circle-check" . }}
    <style>
      .icon-circle-check {
        width: 4rem;
        height: 4rem;
        margin-bottom: 1rem;
      }
    </style>
    <h1 id="email-notification">
      Login Link Sent
    </h1>
    <p>
      We have sent a login link to <strong>{{.Email}}</strong>. Please check your email to log in.
    </p>
    <a href="{{.SendAnotherLink}}" aria-label="Send another login link">
      {{template "icon-arrow-left" . }}
      <style>
        .icon-arrow-left {
          width: 1rem;
          height: 1rem;
          margin-right: 0.25rem;
        }
      </style>
      Send another link
    </a>
  </section>
</main>
{{end}}