{{define "page"}}
{{ template "header" . }}
<main>
    <nav aria-label="breadcrumb">
        <ul>
            <li><a href="{{.HomeURL}}">Home</a></li>
            <li>Account</li>
        </ul>
    </nav>

    <nav>
        <ul>
            <li>
                <h1 style="margin: 0;">
                    Account
                </h1>
            </li>
        </ul>
        <ul>
            <li>
                <a role="button" href="{{.LogoutURL}}">Logout</a>
            </li>
        </ul>
    </nav>

    <section>
        <p>
            Email: {{.UserAccount.EmailAddress}}
        </p>
        <p>
            UserID: {{.UserAccount.UserID}}
        </p>
        <p>
            SessionID: {{.UserSession.SessionID}}
        </p>
        <p>
            CreatedAt: {{.UserSession.CreatedAt}}
        </p>
    </section>
</main>

{{end}}