{{define "page"}}
{{ template "header" . }}
<main>
    <h1>
        Dashboard
    </h1>
    <section>
        <h2>Your Account</h2>
        <a role="button" href={{.LogoutPage}}>Logout</a>
        <p>
            UserID: {{.UserSession.UserID}}
        </p>
        <p>
            SessionID: {{.UserSession.SessionID}}
        </p>
        <p>
            CreatedAt: {{.UserSession.CreatedAt}}
        </p>
    </section>
    <section>
        <div>
            <h1>
                Projects
            </h1>
            <a role="button" href={{.CreateProjectPage}}>Create Project</a>
        </div>
        <div>

        </div>

    </section>
</main>
{{end}}