{{define "page"}}
{{ template "header" . }}
<main style="display: flex; flex-direction: column; gap: 48px;">
    <section>
        <h1>
            Dashboard
        </h1>
    </section>

    <section>
        <h2>Your Account</h2>
        <a role="button" href={{.LogoutPage}}>Logout</a>
        <p>
            UserID: {{.UserSession.UserID}}
        </p>
        <p>
            SessionID: {{.UserSession.SessionID}}
        </p>
        <p>
            CreatedAt: {{.UserSession.CreatedAt}}
        </p>
    </section>

    <section>
        <div>
            <h1>
                Your Projects
            </h1>
            <a role="button" href={{.CreateProjectPage}}>Create Project</a>
        </div>
        <div>

        </div>

    </section>

    <div style="width: 100%; height: 64px"></div>
</main>

{{end}}